# Long-Term Memory

## User Relationships
(This file will be automatically populated as you learn about users.)

## Personal Facts
(This file will be automatically populated as you learn about yourself.)
